@model ProductListingViewModel
    @{
        ViewData["Title"] = "Index";
    }
    <h2 class="headerText">Products</h2>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                   Name
                </th>

                <th>
                   Energy KCal
                </th>
                <th>
                    Fat
                </th>
                <th>
                   Proteins
                </th>
                <th>
                   Sugars
                </th>
                <th>
                    Image
                </th>
                <th>
                   Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Energy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Protein)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sugars)
                    </td>
                    <td>
                        @if (item.Image != null)
                {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imageResize" style="max-width:250px;max-height:300px;" />
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                       
                        <a asp-action="AddToDay" asp-route-id="@item.Id" class="btn btn-primary">Add</a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
@if (Model.TotalProducts > Model.Products.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage== 1 ? "disabled" :string.Empty)">
            <a asp-controller="Products" asp-action="Index" asp-route-page="@Model.PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&#x21E6;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage== Model.TotalPages ? "disabled" :string.Empty)">
            <a  asp-controller="Products" asp-action="Index" asp-route-page="@Model.NextPage" aria-label="Next">
                <span aria-hidden="true"> &#x21E8;</span>
            </a>
        </li>
    </ul>
}

