@model ProductListingViewModel
    @{
        ViewData["Title"] = "Index";
    }
    <h2 class="headerText">Products</h2>
    <div class="row col-md-6">
    <p>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
            <b class="headerText">Search for foods and drinks by: </b>@Html.RadioButton("SearchBy", "Name", true) <span class="headerText">Name</span>

                @Html.RadioButton("SearchBy", "Category") <span class="headerText">Category</span><br />
                @Html.TextBox("searchTerm", null, new { @class = "searchField" })
                <input type="submit" class="btn btn-primary headerText" value="Search" />
        }
    </p>
        <div class="col-md-4">
            <a class="btn btn-warning headerText" asp-area="" asp-controller="Products" asp-action="ViewMyProducts">My Products</a>
        </div>
</div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="headerText">
                   Name
                </th>

                <th class="headerText">
                   Energy KCal
                </th>
                <th class="headerText">
                    Fat
                </th>
                <th class="headerText">
                   Proteins
                </th>
                <th class="headerText">
                   Sugars
                </th>
                <th class="headerText">
                    Image
                </th>
                <th class="headerText">
                   Category
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td class="tdClass">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td class="tdClass">
                        @Html.DisplayFor(modelItem => item.Energy)
                    </td>
                    <td class="tdClass">
                        @Html.DisplayFor(modelItem => item.Fat)
                    </td>
                    <td class="tdClass">
                        @Html.DisplayFor(modelItem => item.Protein)
                    </td>
                    <td class="tdClass">
                        @Html.DisplayFor(modelItem => item.Sugars)
                    </td>
                    <td>
                        @if (item.Image != null)
                {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imageResize" style="max-width:250px;max-height:300px;" />
                        }
                    </td>

                    <td class="tdClass">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>

                    <td>
                        <a asp-action="AddToDay" asp-route-id="@item.Id"   class="btn btn-primary">Add</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@if (Model.TotalProducts > Model.Products.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage== 1 ? "disabled" :string.Empty)">
            <a asp-controller="Products" asp-action="Index" asp-route-page="@Model.PreviousPage" aria-label="Previous" class="previous">
                <span aria-hidden="true">Prev</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage== Model.TotalPages ? "disabled" :string.Empty)">
            <a  asp-controller="Products" asp-action="Index" asp-route-page="@Model.NextPage" aria-label="Next" class="next">
                <span aria-hidden="true"> Next</span>
            </a>
        </li>
    </ul>
}