@model UserWithProductsServiceModel
@{
    ViewData["Title"] = "All My Products";
}

@if (Model.AllowedCalories >= 0)
{
    <h1 class="headerText">@Model.Name  - You Have <span class="numbersFont">@Model.AllowedCalories</span>  KCal Left For Today!</h1>
    <h1 class="headerText">Your calories count for today is <span class="numbersFont">@Model.Products.Sum(p=>p.Energy)</span> so far.</h1>
}
else
{
    <h1 class="headerText">@Model.Name  - You Have Exceeded Your Daily Calories By <span class="numbersFont">@Math.Abs(Model.AllowedCalories)</span> KCal</h1>
}

<h2 class="headerText">@ViewData["Title"]</h2>

<a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-primary headerText">Add more</a>
<a class="btn btn-danger" asp-area="" asp-controller="Products" asp-action="ClearList">Clear</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="headerText">
                Name
            </th>
            <th class="headerText">
                Energy KCal
            </th>
            <th class="headerText">
                Picture
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
            {
            <tr>
                <td class="col-md-3 tdClass">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="tdClass">
                    @Html.DisplayFor(modelItem => item.Energy)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imageResize" style="max-width:250px;max-height:300px;" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>