@model IEnumerable<ProductListingModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="container">

            <div class="dropdown">
                <button class="menuButton dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="headerText">Menu</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdownItem">
                    <li><a asp-area="" asp-controller="Products" asp-action="Index"><span class="menuListItem">Add Foods And Drinks</span></a></li>
                    <li><a asp-area="" asp-controller="Calculator" asp-action="Calculate"><span class="menuListItem">Body Mass Index Calculator</span></a></li>
                    <li><a asp-area="Writer" asp-controller="Articles" asp-action="Index"><span class="menuListItem">Articles</span></a></li>
                    <li><a asp-area="" asp-controller="Diets" asp-action="All"><span class="menuListItem">Browse Diets</span></a></li>
                    <li>
                        <a asp-area="" asp-controller="Products" asp-action="ViewMyProducts">
                            <span class="menuListItem">
                                My Foods And Drinks
                            </span>
                        </a>
                    </li>
                    <li><a asp-area="Trainer" asp-controller="Trainings" asp-action="Index"><span class="menuListItem">Trainings</span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="menuListItem">About Us</span></a></li>
                    <li> <a asp-area="" asp-controller="Home" asp-action="Contact"><span class="menuListItem">Contact Us</span></a></li>
                </ul>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".dropdown").on("hide.bs.dropdown", function () {
                    $(".btn").html('Dropdown <span class="caret"></span>');
                });
                $(".dropdown").on("show.bs.dropdown", function () {
                    $(".btn").html('Dropdown <span class="caret caret-up"></span>');
                });
            });
        </script>
    </div>

    @*<div class="col-md-4">
        <p>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <b class="headerText">Search in products by: </b>@Html.RadioButton("SearchBy", "Name", true) <span class="headerText">Name</span>

                @Html.RadioButton("SearchBy", "Category") <span class="headerText">Category</span><br />
                @Html.TextBox("searchTerm", null, new { @class = "searchField" })
                <input type="submit" class="btn btn-primary headerText" value="Search" />
            }
        </p>
    </div>*@

        <hr />

    <div class="col-md-4">
    </div>

    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Picture
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @if (item.Image != null)
                            {
                              <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" class="imageResize" style="max-height:300px;" />
                            }
                        </td>

                        <td>

                            <a asp-controller="Products" asp-action="AddToDay" asp-route-id="@item.Id" class="btn btn-info">Add</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
         <div class="row col-md-8">
             <iframe width="854" height="480" src="https://www.youtube.com/embed/uhkndzWeG9o" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
             </iframe>
             <iframe width="854" height="480" src="https://www.youtube.com/embed/VUyEPf-IvdM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
             </iframe>
             <iframe width="854" height="480" src="https://www.youtube.com/embed/qWy_aOlB45Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
             </iframe>
         </div>
    }
    </div>