
 @model HealthyMe.Web.Areas.Trainer.Models.TrainingListingViewModel

@{
    ViewData["Title"] = "Index";
}
<h2 class="headerText">All Trainings</h2>
<p>
    @if (User.IsInRole(WebConstants.TrainerRole))
    {
        <a asp-action="Create" class="btn btn-warning headerText">Create New</a>
    }
    <a asp-area="Trainer" asp-controller="Trainings" asp-action="FilterTrainings"asp-route-group="hands" class="btn btn-primary">Hands</a>
    <a asp-area="Trainer" asp-controller="Trainings" asp-action="FilterTrainings"asp-route-group="abs" class="btn btn-primary">Abs</a>
    <a asp-area="Trainer" asp-controller="Trainings" asp-action="FilterTrainings"asp-route-group="legs" class="btn btn-primary">Legs</a>
   
</p>

<table class="table">
    <thead>
        <tr>
            <th class="headerText">
                Name
            </th>

            <th class="headerText">
                Description
            </th>
            <th class="headerText">
                Video
            </th>
            <th class="headerText">
                Is For Loosing Weight
            </th>
            <th class="headerText">
                Is For Gaining Weight
            </th>
            <th class="headerText">
                Muscle Group
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trainings)
        {
            <tr>
                <td class="tdClass">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td class="tdClass">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td >
                    <a href="@item.VideoUrl" class="btn btn-primary" >Video</a>
                </td>
                <td class="tdClass">
                    @Html.DisplayFor(modelItem => item.IsForLoosingWeight)
                </td>
                <td class="tdClass">
                    @Html.DisplayFor(modelItem => item.IsForGainingWeight)
                </td>
               

                <td class="tdClass">
                    @Html.DisplayFor(modelItem => item.MuscleGroup)
                </td>
                <td>
                    @if (User.IsInRole(WebConstants.TrainerRole))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.TotalTrainings > Model.Trainings.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage== 1 ? "disabled" :string.Empty)">
            <a asp-controller="Products" asp-action="Index" asp-route-page="@Model.PreviousPage" aria-label="Previous" class="previous">
                <span aria-hidden="true">Prev</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage== Model.TotalPages ? "disabled" :string.Empty)">
            <a asp-controller="Products" asp-action="Index" asp-route-page="@Model.NextPage" aria-label="Next" class="next">
                <span aria-hidden="true"> Next</span>
            </a>
        </li>
    </ul>
}
